/* ================
Code
================ */

.wp-block-code {
	@include row;
	@include margined;

	code {
		width: 100%;

		display: block;
	}
}


/* ================
Freeform
================ */

.freeform {
	@include row;
	@include margined;
}


/* ================
HTML
================ */

.html {
	@include row;
	@include margined;
}


/* ================
Preformatted
================ */

.wp-block-preformatted {
	@include row;
	@include margined;
}


/* ================
Table
================ */

.table {
	@include row;
	@include margined;
}

.wp-block-table {
	width: 100%;

	border-collapse: collapse;
	border: 1px solid #eee;

	tr {

		&:first-child td {
			background: #000;
			color: #fff;
			font-weight: 700;
			padding: 10px 20px;
			text-align: left;
		}

		&:not(:first-child) td {
			border: 1px solid #eee;
			padding: 10px 20px;
			vertical-align: top;
		}

		&:nth-child(even) {
			background: #fafafa;
		}
	}
}