/* ==========================================================================
	Event List
============================================================================= */

.event_list {
	@include margined_xl;
}

.event_list_inner {}

.event_list_items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.event_list_item {
	border-top: 2px solid $gray_10;
	padding: 40px 0;
}