/* ==========================================================================
	Filter
============================================================================= */

.filter {
	@include margined_xl;
}

.filter_inner {}

.filter_tabs {
	margin-bottom: 28px;
}

.filter_tab {
	@include nt(700);

	position: relative;

	border: 1px solid $gray_20;
	color: $accent;
	font-size: 15px;
	margin-right: 4px;
	padding: 14px 35px 15px;
	text-decoration: underline;
	transition:
		background $base_speed,
		border $base_speed,
		color $base_speed,
		text-decoration $base_speed;

	@media #{$min_sm} {
		min-width: 135px;
	}

	&:after {
		position: absolute;
		top: 100%;
		left: 50%;

		border: 12px solid transparent;
		border-top-color: #000;
		content: "";
		transition:
			border $base_speed,
			transform $base_speed;
		transform:
			translate(-50%, 0)
			scaleY(0);
		transform-origin: center top;
	}

	&:hover,
	&:focus {
		background: $accent;
		border-color: rgba($gray_20, 0);
		color: #fff;
	}

	&.fs-swap-active {
		background: #000;
		border-color: rgba($gray_20, 0);
		color: #fff;
		text-decoration-color: transparent;

		&:after {
			transform:
				translate(-50%, 0)
				scaleY(.65);
		}

		&:focus {
			background: $accent;

			&:after {
				border-top-color: $accent;
			}
		}
	}
}

.filter_form {}

.filter_tabpanel {
	display: none;

	&.fs-swap-active {
		display: block;
	}
}

.filter_tools {

	@media #{$min_md} {
		align-items: flex-end;
		display: flex;
	}
}

.filter_tool {
	margin-bottom: 20px;

	@media #{$min_md} {
		margin-right: 20px;
		margin-bottom: 0;
	}

	@media #{$min_xl} {
		min-width: 290px;
	}
}

.filter_label {
	@include nt(700);

	display: block;
	font-size: 15px;
	margin-bottom: 12px;
}

.filter_tool_select_wrapper {
	@include select;

	display: block;
}

.filter_tool_select {}

.filter_tool_select_icon {
	position: absolute;
	top: 50%;
	right: 20px;

	pointer-events: none;
	transform: translate(0, -50%);
}

.filter_tools_submit {
	@include button_fill("accent");
}

.filter_search {
	max-width: 610px;
}

.filter_search_form {
	position: relative;

	border: 1px solid #000;
	border-radius: 3px;
	display: flex;
	padding: 4px;
}

.filter_search_input {
	appearance: none;
	-webkit-appearance: none;
	border: 0;
	flex: auto;
	padding: 11px 16px;
}

.filter_search_submit {
	width: 40px;

	align-items: center;
	background: $accent;
	color: #fff;
	display: flex;
	justify-content: center;
}

.filter_search_submit_label {
	@include visually_hide;
}

.filter_search_submit_icon {}