/* ==========================================================================
	News List
============================================================================= */

.news_list {
	@include margined_xl;
}

.news_list_inner {}

.news_list_items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.news_list_item {
	border-top: 2px solid $gray_10;
	padding: 40px 0;
}