// =============================================================================
// Mixins
// =============================================================================

@mixin emphasized($font: text) {

	@if $font == text {
		font-size: 18px;
		font-weight: 700;
	} @else if $font == display {
		@include nd;

		font-size: 16px;
		font-weight: 700;
	}
}

@mixin site_button() {
	align-items: center;
	display: flex;
	justify-content: flex-end;

	[class$="_label"] {
		@include emphasized(display);

		margin-right: 10px;
	}

	[class$="_icon"] {
		width: 46px;
		height: 46px;

		position: relative;

		background: $accent;
		border-radius: 100%;
		display: block;
		transition:
			background $base_speed,
			color $base_speed;
	}

	[class$="_icon_inner"] {
		@include center;
	}

	&:hover,
	&:focus {

		[class$="_icon"] {
			background: #fff;
			color: #000;
		}
	}
}

@mixin type_breakout() {

	@media #{$min_lg} {
		margin-right: -10.5%;
		margin-left: -10.5%;
	}

	@media #{$min_xl} {
		margin-right: -13.5%;
		margin-left: -13.5%;
	}
}