.accordion_block {
	@include margined;
}

.accordion_block_inner {
	@include row;
}

.accordion_items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.accordion {
	border-bottom: 1px solid #eee;
}

.accordion_trigger {
	width: 100%;

	appearance: none;
	-webkit-appearance: none;
	align-items: center;
	border: 0;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	text-align: left;
}

.accordion_title {
	@include h4;

	margin-right: 10px;
}

.accordion_icon {
	transition: transform .15s;

	.active & {
		transform: rotate(45deg);
	}
}

.accordion_content {
	@include body_text;

	display: none;
	padding-bottom: 20px;

	&.active {
		display: block;
	}
}
